<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condition</title>
    <link rel="stylesheet" href="style_condition.css">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<style>
    body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
 /* แถบบน */
.menubar {
    width: 100%;
    height: 163px;
    background: url(https://media.discordapp.net/attachments/778995764193919026/778995965927096340/bar4.jpg) no-repeat;
    background-size: cover;
    /* background-position: center center; */
    box-shadow: 0 0 10px #6666;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.menubar .logo {
    float: left;
}
.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.container .menu {
    width: 100%;
    height: 45px;
    /* background :#17395C; */
    background :#E1DCC9;
    box-shadow: 0 0 10px #6666;
    margin: 0 auto;
    text-align: center;
}
.container ul.menu {
    list-style: none;
    float: left;
}
.container ul.menu li {
    padding: 10px;
    float: left;
    margin-right: 20px;
}
.container ul.menu li a {
    text-decoration: none;
    color: #070707;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.container ul.menu li a:hover {
    border-bottom: 2px solid #b33939;
    padding-bottom: 0;
}
.header {
    width: 100%;
}
.header_area {
    width: 660px;
    margin: 0 auto;
    text-align: center;
    color: #efb758;
}
.header_area h1 {
    margin: 0;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
}
.info1_text {
    border: 2px solid #0a0a0a;
    background-color: #E1DCC9;
    margin-top: 47px;
    padding-top: 50px;
    margin-left: 275px;
    width: 50%;
    height: 60px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: normal;
}
.info2_text {
    border: 2px solid #0a0a0a;
    background-color: #E1DCC9;
    margin-left: 275px;
    width: 50%;
    height: 300px;
    padding: 20px;
    padding-top: 2px;
    font-size: 20px;
    font-weight: normal;
}

.info1_area {
    width: 100% cover;
    height: 700px;
    background-image: linear-gradient(150deg,#FFD13F,#C3002F);
}
.contact h1 {
    margin: 20px;
}
.contact p {
    margin: 20px;
}
.contact footer {
    width: 100% cover;
    height: 30px;
    background: #666666;
    text-align: center;
    padding: 15px;
}
.info1_area input {
    margin: 20px;
    margin-left: 350px;
}
.info1_area label {
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
}
.info1_area button {
    margin-left: 900px;
    padding: 8px;
    width: 60px;
    background: #FFD13F;
    color: #333333;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.info1_area button:hover {
    background: #333333;
    color: #FFD13F;
    border: 2px solid #333333;
}


</style>
<body>

    <div class="menubar">
        <div class="container">
            <div class="logo">
            </div>
        </div>
    </div>

    <header class="header">
        <div class="container">
            <ul class="menu">
                <li>
                    <a href="/menu">Home</a>
                </li>
                <li>
                    <a href="#">ยื่นคำร้อง</a>
                </li>
                <li>
                    <a href="#">ชำระเงิน</a>
                </li>
                <li>
                    <a href="#">สถานะคำร้อง</a>
                </li>
                <li>
                    <a href="/" onclick="myFunction()">ออกจากระบบ</a>
                </li>
            </ul>
        </div>
    </header>

    <script>
        function myFunction() {
          var txt;
          if (confirm("Press a button!")) {
            txt = "You pressed OK!";
          } else {
            txt = "You pressed Cancel!";
          }
          document.getElementById("demo").innerHTML = txt;
        }
    </script>
    
    <section class="info">
        <div class="info1">
        </div>
    </section>

    <section class="info1">
        <div class="container">
            <div class="info1_area">
                <div class="info1_text">
                    <p>เงื่อนไขและข้อตกลง</p>
                </div>
                <div class="info2_text">
                    <p>1.การจดทะเบียนล่าช้าชำระผ่านระบบออนไลน์<br>
                       2.นักศึกษาจำเป็นจะต้องจดทะเบียนล่าช้าผ่านระบบออนไลน์ด้วยตนเองเท่านั้น
                       ห้ามให้สิทธิ์คนอื่นดำเนินการแทน หากเกิดข้อผิดพลาดถือเป็นความรับผิดชอบของนักศึกษา<br>
                       3.นักศึกษาจำเป็นต้องมีเวลาในการเข้าเรียนไม่ต่ำกว่า70%จึงจะสามารถจดทะเบียนเรียนในรายวิชานั้นได้<br>
                       4.นักศึกษาจะต้องมีเหตุผลที่เหมาะสมพร้อมกับหลักฐานในการยื่นคำร้อง<br>
                       5.นักศึกษาจำเป็นต้องตรวจสอบความถูกต้องก่อนกดปุ่มชะระเงินหากเกิดข้อผิดพลาด
                       ถือเป็นความรับผิดชอบของนักศึกษา<br>
                    </p>
                </div>
                <div>
                    <input type="checkbox" name="check" id="myCheckbox">
                    <label for="myCheckbox">ท่านได้ตรวจสอบและยอมรับเงื่อนไขตามที่กล่าวไปข้างต้นแล้ว<br></label>
                    <button><a href="/doc">next</a></button>
                </div>
            </div>
        </div>
    </section>

    
    <div class="contact">
        <h1>Information about</h1>
        <p>99 Moo 18 Paholyothin Road,<br>
             Klong Nueng, Klong Luang,<br>
             Pathumthani 12121,<br> 
             Thailand.<br><br>
             Tel. +66 (0) 2613 3333,<br>
             0-2221-6171-80, 0-2221-6111-20<br></p>
        <footer>
            <p>Copyright &copy; 2020 | Group_8</p>
        </footer>
    </div>

    
    
</body>
</html>
