<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(138deg,#c0392b,#f1c40f);
    display: flex;
    justify-content: center;
    align-items: center;
}
form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2 {
    
    margin: 20px;
    color: #fff;
    font-weight: 300;
}
input {
    border: none;
    height: 50px;
    width: 250px;
    margin: 10px 0;
    padding: 0 10px;
    font-size: 1rem;
    outline: none;
    text-align: center;
    border-radius: 5px;
    transition: 5s;
    cursor: pointer;
}
.textbox {
    color: #fff;
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
}
.textbox::placeholder {
    color: #fff;
}
.textbox:hover,
.btn-submit:hover {
    background: #fff;
    color: #c0392b;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
</style>

<body>
  <Link rel="stylesheet" href="style.css">
  <form class="container",form action="/menu/">
      <h2>Log in</h2>
      <input class="textbox" type="text" id="user" name="user" placeholder="Username">
      <input class="textbox" type="password" id="pwd" name="pwd" placeholder="Password">
      <input class="btn-submit" type="submit" value="Login">
  </form>
   <script>
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST", // *GET, POST, PUT, DELETE, etc.
          mode: "cors", // no-cors, *cors, same-origin
          cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
          credentials: "same-origin", // include, *same-origin, omit
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: "follow", // manual, *follow, error
          referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: data, // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
      }
     
      const form = document.getElementById( "login-form" );
      form.addEventListener("submit", function(e){
        e.preventDefault();
        var formBody = [];
        var un = $('#user').val();
        var pw = $('#pwd').val();
        
        formBody.push(encodeURIComponent("user") + '=' + encodeURIComponent(un));
        formBody.push(encodeURIComponent("pwd") + '=' + encodeURIComponent(pw));
        formBody = formBody.join("&").replace( /%20/g, '+' );
        console.log(formBody);
        postData('http://localhost:5000/api', formBody)
        .then( data => {
          console.log(data);
          if (data.status) {
            window.location = '/menu/' + un;
            return true;
          } else {
            // var se = $('#showerror')
            document.getElementById("showerror").style.display = "block";
            return false;
          }
        })
        .catch((error) =>{
          console.log(error);
          return false;
        });

        return false;
      });
    </script>
  </body>
</body>
</html>
