<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
    body{
        background-image: url(https://www.sdperspectives.com/wp-content/uploads/2019/03/SD-Perspectives-Thammasat-for-people-Sustainability.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        background-size: 100% 100%;
        }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 16px 64px;
        cursor: pointer;
    }
    .button3 {padding: 14px 80px;}
    .disable{
        opacity: 0.6;
        cursor: not-allowed;
    }
    div{
        margin-top: 15%;
    }
</style>
</head>
<div>
    <form  ,form action="/doc/">
    <button class="button button3">Test1</button><br>   
    </form>
    <button class="button button3">Test1</button><br>
    <button class="button button3">Test1</button><br>
    <button class="button disable button3">Test1</button>
</div>


</html>